<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates</title>

    <link href="cards.css" rel="stylesheet" />
    <script src="cards.js" defer></script>
  </head>

  <!-- ⁡⁣⁢⁡⁢⁢⁡⁣⁢⁣B O D Y⁡ -->
  <body>
    <h1>Custom Templates</h1>

    <!-- ⁡⁢⁢⁣Template⁡ -->
    <template id="card-template">
      <div class="card">
        <div class="card-body">
          <div class="card-title"></div>
          <div class="card-text"></div>
        </div>
      </div>
    </template>

    <div id="card-list"></div>
  </body>
</html>
