.app-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-page-background);
}

.app-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  padding: 2rem;
}

.main-content {
  flex: 1;
  min-width: 0;
}
