.continue-learning-card h3 {
  margin: 0 0 0.75rem;
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
}

.continue-learning-card p {
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-medium);
}

/* ---------------------------------------------- */

/* ⁡⁣⁢⁢Progress bar⁡ */

.learning-progress {
  width: 70%;
  height: 0.75rem;
  margin-bottom: 2.25rem;
  overflow: hidden;
  /* position: relative; */
  border-radius: 999px;
  background-color: var(--color-border);
}

.learning-progress__value {
  /* width: 125px;
  height: 15px;
  background-color: var(--color-focus);
  position: absolute;
  z-index: 1;
  border-radius: var(--border-radius-small); */
  height: 100%;
  border-radius: inherit;
  background-color: var(--color-primary);
}

/* ---------------------------------------------- */

/* ⁡⁣⁢⁡⁢⁢⁣Media queries⁡⁡ */

@media (max-width: 600px) {
  .learning-progress {
    width: 100%;
  }
}
