.inspection-stages-card__list {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  column-gap: 2rem;
  row-gap: 0.75rem;

  padding: 0;
  margin: 0;
  list-style: none;
}

.inspection-stages-card__link {
  display: inline-block;
  color: var(--color-text-primary);
  text-decoration: none;

  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.inspection-stages-card__link:hover {
  color: var(--color-primary-hover);
  transform: translateX(3px);
}

.inspection-stages-card__link:focus-visible {
  outline: 3px solid var(--color-focus);
  outline-offset: 3px;
  border-radius: var(--border-radius-small);
}

/* ---------------------------------------------- */

/* ⁡⁢⁢⁣Media Queries⁡ */
/* 600px max-width */
@media (max-width: 600px) {
  .inspection-stages-card__list {
    grid-template-rows: none;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
