h1 {
  margin-bottom: 2rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: min(400px, calc(100% - 2rem));
  height: 40vh;
  margin: 1rem auto;
  padding: 1rem;

  background: linear-gradient(to bottom, #7272a1, #9f9fb8);
  border-radius: 32px;
}

.calculator-fields {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.calculator-fields label,
.result {
  color: #000075;
  font-weight: 600;
}

.calculator-fields input,
.calculator-fields select {
  border: none;
  border-radius: 2px;
  min-height: 1.2rem;
  font-weight: 600;
}

.btn-wrapper {
  display: grid;

  margin-top: 2rem;
  gap: 1.5rem;
}

.calculator-fields button {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;

  transition: transform 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.calculator-fields button:hover {
  transform: translate(2px, 2px);
}

hr {
  margin-top: 2rem;
  width: min(400px, calc(100% - 8rem));
}

.result {
  margin-top: 2rem;
}
